<div class="container mt-5 d-flex justify-content-center mb-5">
  <div class="card shadow w-xl-60 w-lg-70 w-md-80 w-sm-90 w-xs-100" *ngIf="expenseDetails">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h5 class="card-title me-5">Expense Details</h5>
        <button class="btn btn-primary ms-5" (click)="settleExpense()">Settle Expense</button>
      </div>
      <br />
      <div class="row">
        <div class="col-4"><strong>Description:</strong></div>
        <div class="col-8">{{ expenseDetails.description }}</div>
      </div>
      <hr class="translucent-line">
      <div class="row">
        <div class="col-4"><strong>Amount:</strong></div>
        <div class="col-8"><span class="badge bg-success">{{ expenseDetails.amount }}</span></div>
      </div>
      <hr class="translucent-line">
      <div class="row">
        <div class="col-4"><strong>Group:</strong></div>
        <div class="col-8">{{ expenseDetails.groupName }}</div>
      </div>
      <hr class="translucent-line">
      <div class="row">
        <div class="col-4"><strong>Paid By:</strong></div>
        <div class="col-8">{{ expenseDetails.paidBy }}</div>
      </div>
      <hr class="translucent-line">
      <div class="row">
        <div class="col-4"><strong>Split Among:</strong></div>
        <div class="col-8">{{ expenseDetails.splitAmong.join(', ') }}</div>
      </div>
      <br />
    </div>
  </div>
</div>


<!-- <div class="container mt-4" *ngIf="expenseDetails">
  <h1>{{ expenseDetails.description }}</h1>
  <p>Amount: {{ expenseDetails.amount | currency : 'INR' }}</p>
  <p>Group: {{ expenseDetails.groupName }}</p>
  <p>Paid By: {{ expenseDetails.paidBy }}</p>

  <div class="mb-4">
    <h2>Split Among</h2>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let member of expenseDetails.splitAmong">
        {{ member }}
      </li>
    </ul>
  </div>

  <button class="btn btn-primary" (click)="settleExpense()">Settle Expense</button>
</div> -->