<div class="container mt-5 page-background">
    <div class="row">
      <div class="col-12">
        <h1>Admin Home</h1>
        <hr class="translucent-line">
      </div>
    </div>
  
    <div class="row">
      <div *ngFor="let group of groups" class="col-xl-4 col-lg-6 col-md-8 col-sm-12 mb-4 d-flex justify-content-center">
        <div class="card shadow w-100 card-background">
          <div class="card-body">
            <h5 class="card-title">{{ group.name }}</h5>
            <p class="card-text">{{ group.description }}</p>
            <a [routerLink]="['/group-details', group.id]" class="btn btn-primary">View Details</a>
          </div>
        </div>
      </div>
    </div>
</div>